<a href="https://colab.research.google.com/github/2303a51832/B26_1832/blob/main/Lab_02_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
temperature = np.array([26,27,29,30,32,31,29,28,27,29,26,23])
print("12 Monthly temperature values are :",temperature)

12 Monthly temperature values are : [26 27 29 30 32 31 29 28 27 29 26 23]

In [ ]:
avg_temp=np.average(temperature)
print("Average temperature is :",avg_temp)

Average temperature is : 28.083333333333332

In [ ]:
hottest_month = np.argmax(temperature)
coldest_month = np.argmin(temperature)
print("Hottest month is :",hottest_month+1)
print("Coldest month is :",coldest_month+1)

Hottest month is : 5
Coldest month is : 12

In [ ]:
normalized_temps = (temperature - np.min(temperature)) / (np.max(temperature) - np.min(temperature))
print("Normalized Temperatures:",normalized_temps)

Normalized Temperatures: [0.33333333 0.44444444 0.66666667 0.77777778 1.         0.88888889
 0.66666667 0.55555556 0.44444444 0.66666667 0.33333333 0.        ]

In [ ]:
months_above_avg = temperature > avg_temp
print("Number of months above average:",months_above_avg)

Number of months above average: [False False  True  True  True  True  True False False  True False False]

In [ ]:
monthly_temp_farenheit = (temperature * 9/5) + 32
print("Temperatures in Fahrenheit:",monthly_temp_farenheit)

Temperatures in Fahrenheit: [78.8 80.6 84.2 86.  89.6 87.8 84.2 82.4 80.6 84.2 78.8 73.4]